<% if @question.errors.any?%>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@question.errors.count, "error") %>
      prohibited this question from being saved:
    </h2>

    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="question-form">
    <div class="field">
      <%=f.label :inquest, "Question:"%>
      <%=f.text_field :inquest%>
    </div>
    <div class="field">
      <%=f.label :answer, "Answer:"%>
      <%=f.text_field :answer%>
    </div>
    <div class="field">
      <%=f.label :difficulty%>
      <%=f.number_field :difficulty%>
    </div>
    <h3>Optional: </h3>
    <% @question.wrong_answers.each do |wa| %>
      <div class="field wa-field">
        <%=f.label :wrong_answers, "Wrong Answers:"%>
        <%= text_field_tag "question[wrong_answers][]",  wa %>
      </div>
    <% end %>

    <%=f.hidden_field :concept_id, value: @concept.id%>
    <%=f.hidden_field :user_id, value: current_user.id%>
  </div>
  <div class="submit">
    <%=f.submit%>
  </div>
