<h1><%=@concept.name%></h1><br>
<p>
  <%=form_for [@concept, @quiz] do |f|%>
    <%=f.hidden_field :user_id, value: current_user.id%>
    <%=f.hidden_field :concept_id, value: @concept.id%>
    <%@questions.shuffle.each_with_index do |q, index|%>
      <div class="field">
        <%answers = q.get_answers%>
        <%=label_tag "#{index+1}.) #{q.inquest}"%><br>
        <%=hidden_field_tag "user_answer[]question#{index+1}[]question_id", q.id %>
        <%answers.each do |a|%>
          <%=radio_button_tag "user_answer[]question#{index+1}[]user_answer", a%>
          <%=label_tag a%><br>
        <%end%>
      </div>
    <%end%>
    <%=f.submit("Submit Quiz")%>
  <%end%>
</p>
