<div>
  <h1><%=@concept.name%></h1>
</div>

<%= form_for [@concept, @quiz] do |f| %>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%=f.hidden_field :concept_id, value: @concept.id%>

  <%@questions.shuffle.each_with_index do |question, index|%>
    <div>
      <%=index+1%>.) <%=question.inquest%><br>
      <%= hidden_field_tag "answers[#{question.id}]", "Did Not Answer" %>
      <%question.get_answers.each do |answer|%>
        <%=radio_button_tag "answers[#{question.id}]", answer%>
        <%=label_tag answer%><br>
      <%end%>
    </div>
  <%end%>

  <%= f.submit("Submit")%>
<% end %>
