<center>
  <%=link_to "Take Quiz Again", new_concept_quiz_path(@concept),data: {confirm: "Are you sure you want to start over? Your score will be reset if you submit."}%>
  <h1>Quiz: <%=@concept.name%></h1>
  <h1><%=@grade%> |  <%=@percent%>%
  <h2>Total Questions: <%=@q_count%></h2></h1>
  <h2>Correct Answers: <%=@data["correct"].count%></h2><br>
  <p>
    <%@data["correct"].each do |d|%>
      <%d = d.second%>
      <%@question = d["q"]%>
      <%=d["q_n"]%>.) <%=@question.inquest%><br>
      <p>You Answered: <%=d["u_a"]%></p>
    <%end%>
  </p><br>
  <h2>Incorrect Answers: <%=@data["incorrect"].count%></h2><br>
  <p>
    <%@data["incorrect"].each do |d|%>
      <%d = d.second%>
      <%@question = d["q"]%>
      <%=d["q_n"]%>.) <%=@question.inquest%><br>
      <p>You Answered: <%=d["u_a"]%></p>
      <p>Correct Answer: <%=@question.answer%></p>
    <%end%>
  </p><br>
</center>
