<h1><%=@subcategory.category.name%> | <%=@subcategory.name%></h1>
<ol>
  <p><%=link_to "Back", category_path(@subcategory.category)%></p>
  <%if admin_or_mod?%>
    <p><%=link_to "Edit", edit_subcategory_path(@subcategory)%></p>
    <%=link_to "Add Concept", new_subcategory_concept_path(@subcategory.id)%>
  <%end%>
  <p><%=button_tag "Take Test"%></p>
  <%@subcategory.concepts.each do |c|%>
    <li><strong><%=link_to c.name, concept_path(c.id)%></strong> | Questions: <%=c.questions.count%>
  <%end%>
</ol>
