<%=form_for [@category, @subcategory, @concept] do |f|%>
  <div class="field">
    <%=f.label :name, "Concept Name:"%><br>
    <%=f.text_field :name%>
  </div>

  <div class="field">
    <%=f.label :description%><br>
    <%=f.text_area :description%>
  </div>

    <%=f.hidden_field :category_id, value: @category.id%>
    <%=f.hidden_field :subcategory_id, value: @subcategory.id%>
  <div class="submit">
    <%=f.submit%>
  </div>
<%end%>
