<center>
  <h1><%=@concept.name%></h1>
  <%=link_to "Back", category_subcategory_path(@category, @subcategory)%><br>
  <%=button_tag "Take Quiz"%><br>
  <%=link_to "Edit", edit_category_subcategory_concept_path(@category, @subcategory, @concept)%>
  <%=link_to "Add", new_category_subcategory_concept_question_path(@category, @subcategory, @concept)%>
  <p>Questions: <%=@concept.questions.count%></p>
  <p>Difficulty: <%=@concept.get_difficulty%>/10</p>
  <p>Description:<br>
    <%=@concept.description%>
  </p>
  <%@concept.questions.each do |q|%>
    <p>
      <%=q.inquest%><br>
      <%=link_to "Edit", edit_category_subcategory_concept_question_path(@category, @subcategory, @concept, q)%> | <%=link_to "Destroy", category_subcategory_concept_question_path(@category, @subcategory, @concept, q), data: {confirm: 'Are you sure?'}, method: :delete %>
    </p>
  <%end%>
</center>
