<center>
  <h1><%=@category.name%></h1>
  <%=link_to "edit", edit_category_path(@category)%>
</center>

<ol>
  <!--Render Back/Create Links-->
  <p><%=link_to "Back", root_path%><br>
  <%=link_to "Create New #{@category.name} Subcategory", new_category_subcategory_path(@category.id) %></p>
  <%@subcategories.each do |subc|%>
    <!--Renders Subcategory-->
    <li><%=link_to subc.name, category_subcategory_path(@category, subc)%></li>
    <ul>
      <!--Renders Subcategory concepts -->
      <%subc.concepts.each do |concept|%>
        <li><%=concept.name%></li>
      <%end%>
    </ul>
  <%end%>
</ol>
