<center>
  <h1><%=@category.name%></h1>
  <%if admin_or_mod?%>
    <%=link_to "edit", edit_category_path(@category), class: "editCat"%>
  <%end%>
  <div class="catForm">
  </div>
</center>

<ol>
  <p><%=link_to "Back", root_path%><br>
  <%if admin_or_mod?%>
    <%=link_to "Create New #{@category.name} Subcategory", new_category_subcategory_path(@category.id) %></p>
  <%end%>
  <%@subcategories.each do |subc|%>
    <li><%=link_to subc.name, subcategory_path(subc)%></li>
    <ul>
      <%subc.concepts.each do |concept|%>
        <li><%=concept.name%></li>
      <%end%>
    </ul>
  <%end%>
</ol>
