<ul>
  <li><%=link_to "Home", root_path%></li>
  <%if current_user != nil%>
    <%if current_user.username%>
      <li><%= link_to "Hello, #{current_user.username}!", user_path(current_user) %></li>
    <%else%>
      <li><%= link_to "Hello, #{current_user.email}!", user_path(current_user) %></li>
    <%end%>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%= link_to "Sign Up", new_user_registration_path%></li>
    <li><%= link_to "Sign In", new_user_session_path%></li>
  <%end%>
</ul>
